:root {
    --color-gradient1-start: #4a0f52;
    --color-gradient1-end:  #8a1596;
    
    --color-gradient2-start:  #f3391d;
    --color-gradient2-end:  #f3911f;
    
    --color-gradient3-start: #df3854;
    --color-gradient3-end: #4b3452;
    
    --color-gradient4-start: #2a44bf;
    --color-gradient4-end: #31a2db;
    
    --color-gradient5-start: #e4e7f4;

    --gradientbox1: linear-gradient(230deg, var(--color-gradient1-start), var(--color-gradient1-end));
    --gradientbox2: linear-gradient(200deg, var(--color-gradient2-start) , var(--color-gradient2-end));
    --gradientbox3: linear-gradient(290deg, var(--color-gradient3-start), var(--color-gradient3-end));
    --gradientbox4: linear-gradient(230deg, var(--color-gradient4-start), var(--color-gradient4-end));
    --gradientbox5: linear-gradient(230deg, var(--color-gradient5-start), var(--color-gradient5-end));
}

.header{
    background: rgba(239, 239, 239, 0.67);

}
.header img{
    width: 40px;
}
.header .sparkpng{
    display: none;
}

.header .welcomeagent{
    font-size: 1.7em;
    font-weight: 500;

    background-image: url("/images/colors.png");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.header .welcomecompany{
    display: none;
}

.header .welcomeagent i{
    font-weight: 800;
    color: transparent;
    background-image: url("/images/colors.png");

    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;


}
.header .searchdiv {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    background: var(--color-gradient1-start); 
    gap: 0.5em;
    border-radius: 7px;
    padding-left: 0.5em;
    overflow: hidden;
    justify-self: center;
} 

.header .searchdiv svg{
    font-size: 24px;
    font-weight: 100;
    fill: #fff;
    stroke-width: 4px;
}
.header .searchdiv input{
    width: 100%;
    padding: 1em 0em;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}
.header .searchdiv input::placeholder{
    color: #fff;
}

 .info{
    display: flex;
    align-items: center;
    gap: 1em;
}

.info svg{
    font-size: 25px;
}

.ininfo{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, 1fr);
    padding: 0.5em;
}
.ininfo span:nth-child(1){
    grid-area: 1/1/2/2;
    color: black;
    font-weight: 500;
    font-size: 1em;
    place-self: end start;
    padding: 0em 0.5em;    

}
.ininfo span:nth-child(2){
    grid-area: 2/1/3/2;
    color: red;
    font-size: 0.9em;
    padding: 0em 0.5em;
    color: grey;
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.1em;
    border: none;
}
.ininfo span:nth-child(3){
    grid-area: 1/2/3/3;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--gradientbox2);
}

.ininfo svg{
     fill: var(--color-gradient4-end); 
    font-size: 20px;
    }


    @media only screen and (max-width: 887px) {
        .header{
            grid-template-columns: repeat(2 auto);
            grid-template-rows: repeat(2 auto);
        }
        .header .welcomeagent{
            grid-area: 1/1/2/2;

        }
        .header .searchdiv{
            grid-area: 2/1/3/2;
            width: 95%;
        }
        .header .searchdiv input{
            font-size: 11px;
        }
        .header .searchdiv svg{
            font-size: 16px;
        }
        .header .info{
            grid-area: 1/2/3/3;
            place-self: center end;
        }

    }

    @media only screen and (max-width: 787px) {


    }
    
    /* Landscape phones and smaller */
    @media only screen and (max-width: 680px) {
    
    
    }
    
    @media only screen and (max-width: 570px) {
    
      
    }
    
    @media only screen and (max-width: 460px) {
        .header{
            grid-template-columns: 120px 1fr;
            background: var(--gradientbox4);
            background: rgba(239, 239, 239, 0.67);
            background: linear-gradient( 120deg, #dc9223, #07c164,#740c7f, #df3854);
            color: #fff;
            
        }
        .header .sparkpng {
            grid-area: 1/1/2/2;
            display: grid;
            justify-self: center;
            overflow: hidden;
        }
        .sparkpng img {
            width: 100%;
            height: 100%;
            filter: drop-shadow(1px 1px 20px yellow);
        }

        .header .welcomeagent{
            display: none;
        }
        .header .welcomecompany{
            display: none;
            font-size: 1.5em;
            font-weight: 900;
            background-image: url("/images/colors.png");
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: #fff;
            justify-self: start;
        }
        .header .searchdiv{
            display: none;
        }
        .header .info{
            grid-area: 1/2/2/3;
            justify-content: space-around;
        }
    
        .ininfo span:nth-child(1){      
            color: #fff;
            font-weight: 600;
            font-size: 1.2em;
        }
        .ininfo span:nth-child(2){
        color: #c2c2c2;
        }

      
    }
    
    @media only screen and (max-width: 330px) {
    
      
    }
    