.account{
    width: 100%;
    height: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 28%;
    grid-template-rows: 60% auto;
    grid-gap: 0.5em;
}


.account .dashprice{
    grid-area: 1/1/2/2;
}

.account .dashoffers{
    grid-area: 2/1/3/2;
}

.account .dashstatus{
    grid-area: 1/2/3/3;
}