.dashprice{
    display: grid;
    color: #000;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: auto repeat(2, 42%);
    grid-gap: 1.5em;
    place-content: start;
    padding: 0.9em;
}

.dashprice .dashhead{
    grid-area: 1/1/2/5;
    display: grid;
    grid-auto-flow: column;
}

.dashhead span:nth-child(1){
    font-weight: 500;
    font-size: 1.2em;
    place-self: start;

}

.dashhead span:nth-child(2){
    font-weight: 500;
    font-size: 1.3em;
    color: grey;
    place-self: start;

}

.dashhead span:nth-child(2) i{
    font-weight: 500;
    font-size: 1.1em;
    color: #000;
}

@media only screen and (max-width: 1300px) {


}

@media only screen and (max-width: 1000px) {

.dashprice{
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: auto repeat(4, 150px);
    overflow: auto;
    place-content: center;
}

.dashprice .dashhead{
    grid-area: 1/1/2/3;
}
.dashhead span:nth-child(2){

display: none;
}

}

@media only screen and (max-width: 887px) {

}

@media only screen and (max-width: 787px) {


}

@media only screen and (max-width: 680px) {
    .dashprice {
        grid-gap: 0.7em;
    }
    .dashhead span:nth-child(1){
        font-style: italic;
    }
        

}

@media only screen and (max-width: 570px) {

  
}

@media only screen and (max-width: 480px) {

  
}

@media only screen and (max-width: 330px) {

  
}
