:root {
    --color-gradient1-start: #400e48;
    --color-gradient1-end: #9f18ab;
    
    --color-gradient2-start: #f42f1f;
    --color-gradient2-end: #9f18ab;
    
    --color-gradient3-start: #f13955;
    --color-gradient3-end: #373453;
    
    --color-gradient4-start: #2a3abd;
    --color-gradient4-end: #33abdf;
    
    --color-gradient5-start: #e4e7f4;

    --gradient-box1: linear-gradient(230deg, var(--color-gradient1-start), var(--color-gradient1-end));
    --gradient-box2: linear-gradient(130deg, var(--color-gradient2-start), var(--color-gradient2-end));
    --gradient-box3: linear-gradient(230deg, var(--color-gradient3-start), var(--color-gradient3-end));
    --gradient-box4: linear-gradient(230deg, var(--color-gradient4-start), var(--color-gradient4-end));
    --gradient-box5: linear-gradient(230deg, var(--color-gradient5-start), var(--color-gradient5-end));
}

/* Example usage of these variables */
.gradient-box1 {
    background: linear-gradient(230deg, var(--color-gradient1-start), var(--color-gradient1-end));
}

.gradient-box2 {
    background: linear-gradient(230deg, var(--color-gradient2-start), var(--color-gradient2-end));
}

.gradient-box3 {
    background: linear-gradient(230deg, var(--color-gradient3-start), var(--color-gradient3-end));
}

.gradient-box4 {
    background: linear-gradient(230deg, var(--color-gradient4-start), var(--color-gradient4-end));
}

.gradient-box5 {
    background: linear-gradient(230deg, var(--color-gradient5-start), var(--color-gradient5-end));
}

@media only screen and (max-width: 887px) {

}

@media only screen and (max-width: 787px) {


}

/* Landscape phones and smaller */
@media only screen and (max-width: 680px) {


}

@media only screen and (max-width: 570px) {

  
}

@media only screen and (max-width: 480px) {

  
}

@media only screen and (max-width: 330px) {

  
}
