.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background: rgba(104, 102, 102, 0.51);
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    z-index: 1;
    overflow: hidden;
  }
  
  .formLogin,
  .form{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 0.6em;
    width: 500px;
  }
  .formLogin{
    justify-items: center;
    align-items: center;
    width: 400px;
    padding: 1em 2em;
  }

  .wrapinputs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6em;
  }


  .login select{
    text-align: center;
  }
  .login select,
  .login input {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 0.9em 1em;
    font-size: 1em;
    border-radius: 100px;
    background: rgba(149, 145, 145, 0.89);
    color: #fff;
    text-align: left;
    animation: bounce 1s;
    -webkit-appearance: none;
  }
  
  .login input::placeholder {
    color: #e5e1e1;
  }


   .prefix {
    width: 100%;
    background: rgba(149, 145, 145, 0.89);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1s;
    -webkit-appearance: none;
  }
  .prefix span{
    width: auto;
    font-weight: 500;
    border-right: 2px solid #cf9023;
    padding:0 0.5em;
  }
  .prefix input{
    width: 100%;
    background: none;
    padding-left: 0.3em;
    animation: none ;
  }

  .h1 {
    grid-area: 1/1/2/2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
    font-weight: 900;
    text-decoration: underline double;
    text-shadow: 0 0 9px yellow;
  }
  .h1 img{
    width: 120px;
    height: 120px;
    transform: scale(1.5);
  }
  

  
  .login input[type=password] {
    animation: bounce 1s;
  }
  .ontime{
    animation: bounce2 1.3s !important;
  }
  
  .ui {
    font-weight: bolder;
    background: -webkit-linear-gradient(#B563FF, #535EFC, #0EC8EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(0.25turn, #535EFC, #0EC8EE, #0EC8EE);
    border-image-slice: 1;
    display: inline;
  }  
  @keyframes bounce {
    0% {
      transform: translateX(-250px);
      opacity: 0;
    }
  }
  
  @keyframes bounce1 {
    0% {
      opacity: 0;
    }
  
    40% {
      transform: translateX(-100px);
      opacity: 0;
    }
  }
  
  @keyframes bounce2 {
    0% {
      opacity: 0;
    }
  
    70% {
      transform: translateX(-60px);
      opacity: 0;
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    place-self: center;

  }
  
  #containerStars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 9px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #containerStars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }


  @media only screen and (max-width: 787px) {


    }
    
    /* Landscape phones and smaller */
    @media only screen and (max-width: 680px) {
  

    }
    
    @media only screen and (max-width: 550px) {
      .login{
        width: 95%;
      }
      .formLogin,
      .form{
        width: auto;

      }
      .formLogin{
        padding: 1em 0;
      }

      .wrapinputs{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.6em;
      }
    
    } 
    
    @media only screen and (max-width: 480px) {
  
      
    }
    
    @media only screen and (max-width: 330px) {
  
      
    }
    